<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Pokemon is ....</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <% let ran = Math.floor(Math.random()*100) %>
    <div class="container">
      <div class="card">
        <h1 id="pokemon"><%= pokemon %></h1>

        <% if (ran === 5) { %>
        <img src="<%= pokemonImgShiny %>" />
        <% } else { %>
        <img src="<%= pokemonImg %>" />
        <% } %>
        <form action="/">
          <input type="submit" value="Try Again" />
        </form>
      </div>
    </div>
  </body>
</html>
